a {
  padding: 10px 20px;
  font-size: 16px;
}

h1 {
  text-align: center;
  border: 2px solid black;
  border-radius: 15px
}

h2 {
  text-align: center;
}
img {
  border: 2px solid gray;
  border-radius: 3px;
  align-self: center;
}

.button {
    background-color: gray; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.catPreview {
  border: 2px solid gray;
  border-radius: 3px;
  width: 65px;
  height: 100px;
  align-items: center;
}

.catterbox{
  border: 2px solid gray;
  float:right;
}

.catZone {
  float:right;
  border: 1px dotted gray;
  border-radius: 10px;
}

.cat {
  float: right;
  border: 1px dotted gray;
}