a {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

body {
  background-color: maroon;
}
h1 {
  text-align: center;
  border: 2px solid black;
  border-radius: 15px
}

h2 {
  text-align: center;
}

img {
  border: 2px solid red;
  border-radius: 3px;
  align-self: center;
}

p {
  margin: auto;
  color: red;
}

.button {
  background-color: red; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.buttonDiv{
  margin: auto;
  align-content: center;
}
.catView {
  margin: 5px;
}
.catPreview {
  margin: auto;
  border: 2px solid red;
  border-radius: 3px;
  width: 65px;
  height: 100px;
  align-items: center;
}

.catterbox{
  border: 2px solid red;
  float:right;
}

.catzone {
  margin: auto;
  width: 40%;
  border: 1px dotted red;
  border-radius: 10px;
}

.cat {
  border: 1px dotted gray;
}